.tip-product-countdown-upsell-panel {
	margin-top: 30px;
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

/* ===============================================
   NOTICE SECTION
   =============================================== */
   
.tip-product-countdown-notice {
	width:100;
	display:block;
	border-color:#ec7063;
	padding:25px
}

.tip-product-countdown-notice h3 {
	margin:0 0 15px 0
}

.tip-product-countdown-notice .dismiss-notice {
	margin-top:15px;
	font-size:12px;
	display: inline-block;
}

.tip-product-countdown-notice .tip-product-countdown-notice-description {
	float:left;
	font-size:14px;
	width: 80%;
}

.tip-product-countdown-notice .button {
	background: #ec7063;
	border:solid 2px #ec7063;
	color:#fff;
	padding: 6px 12px;
	height:auto;
	line-height:normal;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	font-weight:bold
}

.tip-product-countdown-notice .button:hover ,
.tip-product-countdown-notice .button:active ,
.tip-product-countdown-notice .button:focus {
	border-color: #e74c3c;
	background-color:#e74c3c;
	-webkit-box-shadow:none;
    box-shadow:none;
	color: #fff;
}

.tip-product-countdown-notice p.notice-coupon-message {
    padding: 0;
    margin-top:15px;
    margin-bottom:15px;
}

.tip-product-countdown-notice .notice-coupon-message .dashicon {
    width: 15px;
    height: 15px;
    line-height: 17px;
    font-size: 15px;
    margin-right:5px;
}


@media screen and (min-width : 0px) and (max-width : 992px)  {
		
	.tip-product-countdown-notice .tip-product-countdown-noticedescription {
		float:none;
		width: 100%;
	}
	
	.tip-product-countdown-notice .button {
		margin-top:20px;
		float:none;
	}

	.tip-product-countdown-notice .dismiss-notice {
		margin-top:15px;
		display:block
	}

}